################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ICT2106WebApp/.vs/CopilotSnapshots/3FE50F14F579F8439EF5DA771D48A194
/ICT2106WebApp/.vs/ICT2106WebApp/copilot-chat/e7c60dd3/sessions
/ICT2106WebApp/.vs/ICT2106WebApp/CopilotIndices/17.13.433.20974
